html, body {
    height:100%;
    margin:0;
    padding:0;
    background-color: #090506;
}
h1 {
/*    margin:0;
    padding:0;*/
    display:table-cell;
    font-family: sans-serif;
    color: white;
}
p {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 20px;
	text-align: left;
	color: #F9F8F8;
}

#section1 {
    height:90%;
    text-align:center;
    display:table;
    width: 100%;
    color: white;
}
main {
	/* important */
	height: 100%;
}

.page-intro {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	bottom: auto;
	right: auto;

	margin-top: -100px;
	margin-left: -200px;
}

.page-fixed-bg {
	 min-height: 100%;
	 background-size: 100% 100%;
	 background-attachment: fixed;
	 background-repeat: no-repeat;
	 background-position: center center;
}

.page-fixed-bg.page-bg-1 {
	background-image: url("../img/bg_static_1.jpg");
}
.page-fixed-bg.page-bg-2 {
	background-image: url("../img/bg_static_2.jpg");
}

.page-color-bg {
	min-height: 100%;
}

.page-color-bg.page-color-1 {
	background-color: #090506;
	/*color: #a6989a;*/
}